body {
    font-size: 15px;
    font-family: 'GothamPro', sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(/font/GothamPro.ttf); /* Путь к файлу со шрифтом */
}

.container {
    max-width: 1640px;

}

header {
    background: url('../img/Group102.png') no-repeat bottom;
    height: 950px;
    margin-bottom: 140px;

}

header .navbar ul li {
    list-style-type: none;
    font-size: 18px;
    text-align: center;
    padding: 0 50px 0 0;
}

header .navbar ul li a {
    font-size: 18px;
}

header .navbar ul li:last-child {
    margin-top: 10px;
}

header .navbar-nav p {
    font-weight: bold;
}

header .navbar-brand {
    padding: 0 0 0 205px;
}

header .navbar a {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

header .navbar a:hover {
    color: #1DB4D4;
    text-decoration: none;
}

header .head-text {
    margin: 320px 0 0 140px;
}

header .head-text p {
    font-weight: bold;
    font-size: 45px;
}

header .head-text .tatar {
    font-size: 20px;
    font-weight: 100;
}

header .head-button {
    margin: 140px 0 0 140px;
}

header .head-button button {
    background: transparent;
    color: #000;
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border-color: #000;
    font-size: 16px;
    font-weight: bold;
}

header .head-button button:hover {
    outline: none;
    border: none;
    background: #1DB4D4;
    color: #fff;
    cursor: pointer;
}

header .head-button button:focus {
    outline: none;
}

.block-1 .box-item {
    width: 260px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
}

.block-1 .box-item h1 {
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.block-1 .box-item .d1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #DCF3F9;
    margin: 30px auto;
}

.block-2 {
    background: url('../img/Group 141.png') no-repeat top;
    height: 879px;
    margin-bottom: 550px;
}

.block-2 .prom h2 {
    text-align: center;
    font-size: 45px;
    color: #000000;
}

.block-2 .prom {
    margin-top: 100px;
    margin-bottom: 100px;
}

.block-2 .house-item h2 {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.block-2 .house-item p {
    font-size: 18px;
    color: #A4A4A4;
    font-weight: 100;
    text-align: center;
    margin-top: 20px;
}

.block-2 .prom-text {
    float: left;
    margin-left: 25px;
    padding-top: 97px;
}

.block-2 .d17 {
    text-align: center;
}

.block-2 .d16 {
    text-align: center;
}

.block-2 .d15 {
    text-align: center;
}

.block-2 .slider6 {
    display: none;
}

.block-2 .proj-house {
    text-align: center;
    font-size: 45px;
    margin: 80px 0 80px 0;
}

.block-2 .proj-house h3 {
    font-size: 45px;
}

.lagr {
    display: grid;
    grid-template-rows: 340px 340px;
    grid-template-columns: 542px 542px 542px;
}

.block-2 .ipad-slider {
    display: none;
}

.block-3 {
    background: url('../img/Group 142.png') no-repeat top;
    height: 1750px;
    margin-bottom: 170px;
}

#block-for-slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

#slidewrapper {
    position: relative;
    width: calc(100% * 6);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67, .01, .23, 1);
    -o-transition-timing-function: cubic-bezier(.67, .01, .23, 1);
    transition-timing-function: cubic-bezier(.67, .01, .23, 1);
}


#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100% / 6);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    top: calc(50% - 25px);
    border: solid transparent;
    box-shadow: 3px 3px 1px 1px #CEDFE4;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#next-btn {
    right: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
    box-shadow: 0 0 5px 1px;
}


.slide-nav-btn:hover {
    cursor: pointer;
}

.block-3 .change {
    margin-top: 150px;
}

.block-3 .change h3 {
    text-align: center;
    font-size: 45px;
    color: #000000;
}

.block-3 .slider-text {
    margin-top: 120px;
}

.block-3 .slider-text h3 {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 50px;
}

.block-3 .slider-text p {
    font-size: 18px;
    font-weight: 100;
}

.block-3 hr {
    border: none;
    background-color: #B7B7B7;
    color: #B7B7B7;
    height: 2px;
}

.block-3 .slider-text .bedroom {
    font-weight: bold;
    font-size: 19px;
}

.block-3 .slider-text button {
    background: transparent;
    color: #000;
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border-color: #000;
    font-size: 16px;
    font-weight: bold;
}

.block-3 .slider-text button:hover {
    outline: none;
    border: none;
    background: #1DB4D4;
    color: #fff;
    cursor: pointer;
}

.block-3 .slider-text button:focus {
    outline: none;
}

.block-3 .slider-text .slider-button {
    margin-top: 40px;
}

.block-4 {
    background: url('../img/Group 148.png') no-repeat top;
    height: 2393px;
    margin-bottom: 140px;
}

.block-4 .offer-text {
    text-align: center;
}

.block-4 .offer-text h4 {
    font-size: 45px;
}

.block-4 .offer-item {
    width: 680px;
    height: 100%;
    box-shadow: 0 14px 80px 14px #CEDFE4;
    border-radius: 20px;
    margin: 80px 0 0 100px;
    background: #fff;
    padding-left: 70px;
}

.block-4 .offer-item h4 {
    font-size: 30px;
    padding: 80px 0 0 0;
}

.block-4 .offer-item p {
    font-size: 18px;
    padding: 50px 70px 0 0;
}

.block-4 .offer-item button {
    background: transparent;
    color: #000;
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border-color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.block-4 .offer-item button:hover {
    outline: none;
    border: none;
    background: #1DB4D4;
    color: #fff;
    cursor: pointer;
}

.block-4 .offer-item button:focus {
    outline: none;
}

.block-4 .offer-item .small-text {
    font-size: 12px;
    color: #7D7D7D;
    margin-top: -35px;
}

.block-4 .work-item {
    text-align: center;
    margin: 150px 0 50px 0;
}

.block-4 .work-item h4 {
    font-size: 45px;
}

.block-4 .diamond-group {
    display: grid;
    grid-template-rows: 259px 259px;
    grid-template-columns: 259px 259px 259px 259px 259px 259px;
    margin-left: 30px;
}

.block-4 .diamond-group-1 {
    display: none;
}

.block-4 .diamond-group-2 {
    display: none;
}

.block-4 .group-item-7 {
    margin: -70px 0 0 130px;
}

.block-4 .group-item-8 {
    margin: -70px 0 0 130px;
}

.block-4 .group-item-9 {
    margin: -70px 0 0 130px;
}

.block-4 .group-item-10 {
    margin: -70px 0 0 130px;
}

.block-4 .group-item-11 {
    margin: -70px 0 0 130px;
}

.block-4 .bunch {
    background: url('../img/Group 133.png') no-repeat top;
    height: 572px;
    margin-top: 90px;
}

.block-4 .feedback h4 {
    font-size: 30px;
    margin-top: 200px;
}

.block-4 .feedback p {
    font-size: 18px;
    margin-top: 30px;
}

.block-4 .feedback input {
    width: 535px;
    height: 50px;
    border-radius: 6px;
    outline: none;
    margin-top: 30px;
    padding-left: 20px;
    border-color: #A5A5A5;
}

.block-4 .feedback button {
    background: transparent;
    color: #000;
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border-color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}

.block-4 .feedback button:hover {
    outline: none;
    border: none;
    background: #1DB4D4;
    color: #fff;
    cursor: pointer;
}

.block-4 .feedback button:focus {
    outline: none;
}

.block-4 .question {
    text-align: center;
    margin-top: 100px;
}

.block-4 .question h4 {
    font-size: 45px;
}

.block-4 .question p {
    font-size: 18px;
}

.block-4 .question input {
    width: 535px;
    height: 50px;
    border-radius: 6px;
    outline: none;
    margin-top: 30px;
    padding-left: 20px;
    border-color: #A5A5A5;
    margin: 0 auto;
}

.block-4 .question button {
    background: transparent;
    color: #000;
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border-color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}

.block-4 .question button:hover {
    outline: none;
    border: none;
    background: #1DB4D4;
    color: #fff;
    cursor: pointer;
}

.block-4 .question button:focus {
    outline: none;
}

.cont-line {
    display: none;
}

.block-5 {
    background: url('../img/Group 1123.png') no-repeat top/cover;
    height: 479px;
}

.block-5 .adress {
    margin: 90px 0 0 180px;
}

.block-5 .adress h5 {
    font-size: 45px;
    margin-bottom: 50px;
}

.block-5 .adress p {
    font-size: 35px;
    color: #B4B4B4;
    font-weight: 100;
}

.block-5 .map-adres {
    background: url('../img/Group 137.png') no-repeat top;
    height: 480px;
}

.block-5 .map-yandex {
    display: none;
}

.modal {
    background: rgba(220, 244, 248, 0.7);

}

.modal-content {
    border-radius: 20px;
    height: 370px;
    width: 815px;
    padding: 55px 90px 0 80px;
}

.modal .modal-content ul li {
    list-style-type: none;
}

.modal .header-mod h6 {
    font-size: 24px;
    font-weight: 500;
}

.modal .header-mod {
    margin-bottom: 20px;
}

.modal .body-tel input {
    width: 570px;
    height: 50px;
    border-radius: 6px;
    padding-left: 20px;
    outline: none;
    border-color: #BFBFBF;
}

input::-webkit-input-placeholder {
    font-size: 16px;
    font-family: 'GothamPro', sans-serif;
}

.modal .footer-btn-1 button {
    background: transparent;
    color: #000;
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    position: absolute;
    margin: -67px 0 0 300px;
}

.modal .footer-btn-1 button:hover {
    outline: none;
    border: none;
    background: #1DB4D4;
    color: #fff;
    cursor: pointer;
}

.modal .footer-btn-1 button:focus {
    outline: none;
    background: #1DB4D4;
}

.modal .footer-btn button {
    background: transparent;
    color: #000;
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border-color: #000;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    margin-top: 20px;
}

.modal .footer-btn button:hover {
    outline: none;
    border: none;
    background: #1DB4D4;
    color: #fff;
    cursor: pointer;
}

.modal .footer-btn button:focus {
    outline: none;
    background: #1DB4D4;
}

.modal-dialog-2 {
    height: 350px;
}

.modal .body-phone input {
    width: 570px;
    height: 50px;
    border-radius: 6px;
    border-color: #BFBFBF;
    padding-left: 20px;
}

.modal .body-param input {
    width: 570px;
    height: 50px;
    margin-top: 25px;
    border-radius: 6px;
    border-color: #BFBFBF;
    padding-left: 20px;
}

.modal .foto-btn label {
    background: transparent;
    color: #000;
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    display: block;
    padding: 18px 0 0 30px;
}

.modal .foto-btn label:hover {
    outline: none;
    border: none;
    background: #1DB4D4;
    color: #fff;
    cursor: pointer;
}

.modal .foto-btn label:focus {
    outline: none;
}

@media screen and (min-width: 1150px) and (max-width: 1640px) {

    header {
        background: url('../img/Group102.png') no-repeat bottom/cover;
        height: 835px;
    }

    .container {
        width: 1200px;

    }

    header .navbar-brand {
        padding: 0 0 0 15px;
    }

    header .navbar ul li {
        padding: 0 0 0 10px;
        margin: 0;
    }

    header .navbar ul li a {
        font-size: 14px;
    }

    header .navbar ul li p {
        font-size: 14px;
        margin-top: -2px;
    }

    header .head-text {
        margin: 280px 0 0 100px;
    }

    header .head-text p {
        font-weight: bold;
        font-size: 35px;
    }

    header .head-button {
        margin: 5px 0 0 100px;
    }

    .block-1 .box-item {
        width: 210px;
        height: 220px;
        margin: 0 auto;
    }

    .block-2 .proj-house {
        text-align: center;
        font-size: 45px;
        margin: 80px 0 80px 0;
    }

    .block-2 {
        margin-bottom: 900px;
    }

    .lagr {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin-left: 30px;
    }

    #prev-btn, #next-btn {
        width: 30px;
        height: 30px;
    }

    .slide-nav-btn {
        height: 13px;
        width: 13px;
    }

    .block-3 .slider-text {
        margin-top: 50px;
    }

    .block-3 .slider-text h3 {
        margin-bottom: 30px;
    }

    .block-3 {
        height: 1550px;
        margin-bottom: 260px;
    }

    .block-4 {
        margin: 0;
    }

    .block-4 .offer-item {
        width: 100%;
        height: 100%;
        margin: 40px auto;
    }

    .block-4 .offer-item h4 {
        font-size: 30px;
        padding-top: 50px;
    }

    .block-4 .offer-item p {
        font-size: 18px;
        padding: 30px 70px 0 0;
    }

    .block-4 .offer-item .small-text {
        margin-top: -15px;
    }

    .block-4 .diamond-group {
        display: grid;
        grid-template-rows: 259px 259px 259px;
        grid-template-columns: 259px 259px 259px 259px;
        margin-left: 70px;
    }

    .block-4 .group-item-5 {
        margin: -70px 0 0 130px;
    }

    .block-4 .group-item-6 {
        margin: -70px 0 0 130px;
    }

    .block-4 .group-item-7 {
        margin: -70px 0 0 130px;
    }

    .block-4 .group-item-8 {
        margin: 120px 0 0 0;
    }

    .block-4 .group-item-9 {
        margin: -140px 0 0 0;
    }

    .block-4 .group-item-10 {
        margin: -140px 0 0 0;
    }

    .block-4 .group-item-11 {
        margin: -140px 0 0 0;
    }

    .block-4 .bunch {
        background: url('../img/Group 132 small.png') no-repeat top;
        height: 492px;
        margin-top: -60px;
    }

    .block-4 .feedback {
        margin-top: -200px;
    }

    .block-5 {
        height: 389px;
    }

    .block-5 .adress h5 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .block-5 .adress p {
        font-size: 25px;
        color: #B4B4B4;
        font-weight: 100;
    }

    .block-5 .map-adres {
        background: url('../img/map small.png') no-repeat top;
        height: 376px;
        margin-top: 10px;

    }
}

@media screen and (min-width: 1084px) and (max-width: 1149px) {

    header {
        background: url(../img/Group102.png) no-repeat top/cover;
        height: 100%;
    }

    header .navbar-brand {
        padding: 0 0 0 15px;
    }

    header .navbar ul li {
        padding: 0 0 0 10PX;
        margin: 0;
    }

    header .navbar ul li a {
        font-size: 14px;
    }

    header .navbar ul li p {
        font-size: 14px;
        margin-top: -2px;
    }

    header .head-text {
        margin: 250px 0 0 80px;
    }

    header .head-text p {
        font-size: 36px;
    }

    header .head-text .tatar {
        font-size: 16px;
        font-weight: 100;
    }

    header .head-button {
        margin: 50px 0 0 80px;
    }

    header .head-button button {
        font-size: 16px;
    }

    .block-1 {
        height: 220px;
    }

    .block-1 .box-item {
        width: 160px;
        height: 180px;
        text-align: center;
        margin: 0 auto;
    }

    .block-2 {
        height: 580px;
        padding: 0;
    }

    .block-2 .prom {
        margin-bottom: 40px;
    }

    .block-2 .prom h2 {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        height: 0;
    }

    .block-2 .lagr {
        display: none;
    }

    .block-2 .proj-house h3 {
        font-size: 24px;
        font-weight: bold;
    }

    .block-2 .ipad-slider {
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .block-2 .ipad-slider p {
        text-align: center;
    }

    .block-3 {
        background: url('../img/Group 142.png') no-repeat top/cover;
        height: 1000px;
    }

    .block-3 .change {
        margin-top: 0;
    }

    .block-3 .change h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .block-3 .slider-text {
        margin: 5px 0 40px 0;
    }

    .block-3 .slider-text h3 {
        font-size: 24px;
        margin: 0 0 20px 0;
    }

    .block-3 .slider-text p {
        font-size: 12px;
    }

    .block-3 .slider-text .bedroom {
        font-size: 12px;
        text-align: center;
    }

    .block-3 .slider-text .bedroom p {
        margin-top: -20px;
    }

    .block-3 .slider-text .slider-button {
        margin-top: 0;
    }

    .block-3 .slider-button button {
        width: 260px;
        height: 30px;
        font-size: 16px;
    }

    .slide img {
        width: 100%;
        height: 215px;
    }

    #prev-btn, #next-btn {
        width: 25px;
        height: 25px;
        margin-top: 20px;
    }

    .slide-nav-btn {
        display: none;
    }

    #block-for-slider {
        width: 80%;
        margin: 40px auto;
    }

    .block-4 {
        background: url('../img/Group 148.png') no-repeat top/cover;
        margin: 0;
        height: 1350px;
    }

    .block-4 .offer-text h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .block-4 .offer-item {
        width: 100%;
        height: 100%;
        margin: 40px 0 0 0;
        padding: 0;
    }

    .block-4 .offer-item h4 {
        font-size: 12px;
        padding: 25px 0 0 20px;
        font-weight: bold;
    }

    .block-4 .offer-item p {
        font-size: 18px;
        padding: 10px 30px 0 20px;
    }

    .block-4 .offer-item .small-text {
        font-size: 9px;
        margin-top: 1px;
    }

    .block-4 .offer-item button {
        width: 150px;
        height: 30px;
        font-size: 7px;
        font-weight: bold;
        margin: -20px 0 0 20px;
    }

    .block-4 .work-item {
        margin: 150px auto 50px auto;
        padding: 0;
        width: 300px;
    }

    .block-4 .work-item h4 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .block-4 .diamond-group {
        display: none;
    }

    .block-4 .diamond-group-1 {
        display: none;
    }

    .block-4 .diamond-group-2 {
        display: flex;
        justify-content: center;
    }

    .block-4 .bunch {
        background: url('../img/Group 132 tabl.png') no-repeat top;
        height: 100%;
    }

    .block-4 .feedback h4 {
        font-size: 18px;
        margin-top: 100px;
        font-weight: bold;
    }

    .block-4 .feedback p {
        font-size: 12px;
        margin-top: 30px;
        text-align: left;
    }

    .block-4 .feedback input {
        width: 260px;
        height: 40px;
        margin-top: 30px;
        padding-left: 20px;

    }

    .block-4 .feedback button {
        width: 260px;
        height: 40px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }

    .block-4 .question {
        text-align: center;
        margin-top: 100px;
        width: 100%;
    }

    .block-4 .question h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .block-4 .question p {
        font-size: 12px;
    }

    .block-4 .question input {
        width: 260px;
        height: 40px;
        outline: none;
        margin-top: 30px;
        padding-left: 20px;

    }

    .block-4 .question button {
        width: 260px;
        height: 40px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }

    .block-5 {
        background: url('../img/Group 1123.png') no-repeat top;
        height: 250px;
        margin-top: 700px;
    }

    .block-5 .adress {
        margin: 50px 0 0 100px;
    }

    .block-5 .adress h5 {
        font-size: 24px;
        margin-bottom: 50px;
        font-weight: bold;
    }

    .block-5 .adress p {
        font-size: 16px;
        color: #B4B4B4;
        font-weight: 100;
    }

    .block-5 .map-adres {
        background: url('../img/mapss.png') no-repeat top;
        height: 174px;
        width: 302px;
        border: none;
        margin-top: 50px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1083px) {

    header {
        background: url('../img/Group102.png') no-repeat top/cover;
        height: 100%;
        width: 100%;
    }

    header .navbar-brand {
        padding: 0 0 0 15px;
    }

    header .navbar-brand img {
        width: 45px;
        height: 45px;
    }

    header .navbar ul li {
        text-align: center;
        padding: 0;
    }

    header .nav-item {
        text-align: center;
    }

    header .navbar ul li:last-child {
        display: none;
    }

    header .head-text p {
        font-weight: bold;
        font-size: 24px;
    }

    header .head-text {
        margin: 250px 0 0 60px;
    }

    header .head-text .tatar {
        font-size: 16px;
        font-weight: 100;
    }

    header .head-button {
        margin: 50px 0 0 60px;
    }

    header .head-button button {
        font-size: 16px;
    }

    .block-1 {
        height: 370px;
    }

    .block-1 .box-item {
        width: 220px;
        height: 230px;
        text-align: center;
        margin: 0 auto;
    }

    .block-2 {
        height: 780px;
        padding: 0;
    }

    .block-2 .prom {
        margin-bottom: 40px;
    }

    .block-2 .prom h2 {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        height: 0;
    }

    .block-2 .lagr {
        display: none;
    }

    .block-2 .proj-house h3 {
        font-size: 24px;
        font-weight: bold;
    }

    .block-2 .ipad-slider {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .block-2 .ipad-slider p {
        text-align: center;
    }

    .block-3 {
        margin-bottom: 10px;
        height: 1080px;
    }

    .block-3 .change {
        margin-top: 0;
    }

    .block-3 .change h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .block-3 .slider-text {
        margin: 5px 0 20px 0;
    }

    .block-3 .slider-text h3 {
        font-size: 24px;
        margin: 0 0 20px 0;
    }

    .block-3 .slider-text p {
        font-size: 12px;
    }

    .block-3 .slider-text .bedroom {
        font-size: 12px;
        text-align: center;
    }

    .block-3 .slider-text .bedroom p {
        text-align: center;
        margin-top: -20px;
    }

    .block-3 .slider-text .slider-button {
        margin-top: 0;
    }

    .block-3 .slider-button button {
        width: 260px;
        height: 30px;
        font-size: 16px;
    }

    .slide img {
        width: 100%;
        height: 215px;
    }

    #prev-btn, #next-btn {
        width: 25px;
        height: 25px;
        margin-top: 20px;
    }

    .slide-nav-btn {
        display: none;
    }


    #block-for-slider {
        width: 80%;
        margin: 40px auto;
    }

    .block-4 {
        margin: 0;
        height: 1350px;
        width: 100%;
    }

    .block-4 .offer-text h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .block-4 .offer-item {
        width: 100%;
        height: 100%;
        margin: 40px 0 0 0;
        padding: 0;
    }

    .block-4 .offer-item h4 {
        font-size: 12px;
        padding: 25px 0 0 20px;
        font-weight: bold;
    }

    .block-4 .offer-item p {
        font-size: 18px;
        padding: 10px 30px 0 20px;
    }

    .block-4 .offer-item .small-text {
        font-size: 9px;
        margin-top: 1px;
    }

    .block-4 .offer-item button {
        width: 150px;
        height: 30px;
        font-size: 7px;
        font-weight: bold;
        margin: -20px 0 0 20px;
    }

    .block-4 .work-item {
        margin: 150px auto 50px auto;
        padding: 0;
        width: 300px;
    }

    .block-4 .work-item h4 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .block-4 .diamond-group {
        display: none;
    }

    .block-4 .diamond-group-1 {
        display: none;
    }

    .block-4 .diamond-group-2 {
        display: flex;
        justify-content: center;
    }

    .block-4 .bunch {
        background: url('../img/Group 132 tabl.png') no-repeat top;
        height: 100%;
    }

    .block-4 .feedback h4 {
        font-size: 18px;
        margin-top: 100px;
        font-weight: bold;
    }

    .block-4 .feedback p {
        font-size: 12px;
        margin-top: 30px;
        text-align: left;
    }

    .block-4 .feedback input {
        width: 260px;
        height: 40px;
        margin-top: 30px;
        padding-left: 20px;

    }

    .block-4 .feedback button {
        width: 260px;
        height: 40px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }

    .block-4 .question {
        text-align: center;
        margin-top: 100px;
        width: 100%;
    }

    .block-4 .question h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .block-4 .question p {
        font-size: 12px;
    }

    .block-4 .question input {
        width: 260px;
        height: 40px;
        outline: none;
        margin-top: 30px;
        padding-left: 20px;

    }

    .block-4 .question button {
        width: 260px;
        height: 40px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }

    .block-5 {
        background: url('../img/Group 1123.png') no-repeat top;
        height: 230px;
        margin-top: 740px;
    }

    .block-5 .adress {
        margin: 50px 0 0 80px;
    }

    .block-5 .adress h5 {
        font-size: 24px;
        margin-bottom: 50px;
        font-weight: bold;
    }

    .block-5 .adress p {
        font-size: 16px;
        color: #B4B4B4;
        font-weight: 100;
    }

    .block-5 .map-adres {
        background: url('../img/mapss.png') no-repeat top;
        height: 174px;
        width: 302px;
        border: none;
        margin-top: 50px;
    }

    .block-5 .map-adres {
        display: none;
    }

    .block-5 .map-yandex {
        display: block;
        margin: 50px 0 30px 0;
    }

    .modal .modal-content {
        height: 180px;
        width: 302px;
        padding: 25px 25px 0 15px;
        margin: 0 auto;
    }

    .modal .header-mod h6 {
        font-size: 9px;
        font-weight: bold;
    }

    .modal .body-tel input {
        width: 188px;
        height: 30px;
        margin-top: 5px;
    }

    input::-webkit-input-placeholder {
        font-size: 9px;
        font-family: 'GothamPro', sans-serif;
    }

    .modal .footer-btn button {
        width: 147px;
        height: 30px;
        font-size: 9px;
        font-weight: bold;
        margin-top: 10px;
    }

    .modal .footer-btn-1 button {
        width: 190px;
        height: 30px;
        font-size: 9px;
        font-weight: bold;
        outline: none;
        margin: 1px 140px 0 0;
    }

    .modal .body-phone input {
        width: 190px;
        height: 30px;
        border-radius: 6px;
        border-color: #BFBFBF;
        padding-left: 15px;
    }

    .modal .body-param input {
        width: 190px;
        height: 30px;
        margin-top: 15px;
        padding-left: 15px;
    }

    .modal .foto-btn label {
        background: transparent;
        color: #000;
        width: 190px;
        height: 30px;
        font-size: 9px;
        border-radius: 30px;
        border: 1px solid #000;
        font-weight: bold;
        margin-top: 20px;
        outline: none;
        display: block;
        padding: 8px 0 0 43px;
    }

    .modal .modal-dialog-2 {
        height: 300px;
    }
}

@media screen and (min-width: 320px) and (max-width: 766px) {

    .container {
        width: 305px;
        padding: 0;
        margin: 0 auto;
    }

    header {
        background: url('../img/Group102.png') no-repeat top/cover;
        height: 100%;
        width: 100%;
    }

    header .navbar-brand {
        padding: 0 0 0 15px;
    }

    header .navbar-brand img {
        width: 35px;
        height: 35px;
    }

    header .navbar ul li {
        text-align: center;
        padding: 0;
    }

    header .nav-item {
        text-align: center;
    }

    header .navbar ul li:last-child {
        display: none;
    }

    header .head-text p {
        font-weight: bold;
        font-size: 24px;
    }

    header .head-text {
        margin: 100px 0 0 0;
    }

    header .head-text .tatar {
        font-size: 16px;
        font-weight: 100;
    }

    header .head-button {
        margin: 100px 0 0 0;
    }

    header .head-button button {
        font-size: 16px;
    }

    .block-2 {
        height: 750px;
    }

    .block-2 .prom {
        margin: 10px 0 30px 0;
        padding: 0;
    }

    .block-2 .prom h2 {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }

    .block-2 .lagr {
        display: none;
    }

    .block-2 .proj-house {
        margin: 30px 0 0 0;
        padding: 0;
    }

    .block-2 .proj-house h3 {
        font-size: 24px;
        font-weight: bold;
    }

    .block-3 {
        margin-bottom: 270px;
    }

    .block-3 .change {
        margin-top: 0;
    }

    .block-3 .change h3 {
        font-size: 24px;
        font-weight: bold;
    }

    .block-3 .slider-text {
        margin: 20px 0 0 0;
    }

    .block-3 .slider-text h3 {
        font-size: 24px;
        margin: 0 0 20px 0;
    }

    .block-3 .slider-text p {
        font-size: 12px;
    }

    .block-3 .slider-text .bedroom {
        font-size: 12px;
        text-align: center;
    }

    .block-3 .slider-text .bedroom p {
        text-align: center;
    }

    .block-3 .slider-button button {
        width: 302px;
        font-size: 16px;
        margin: -30px 0 30px 0;
    }

    #block-for-slider {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0;
    }

    #prev-btn, #next-btn {
        width: 25px;
        height: 25px;
        margin-top: 20px;
    }

    .slide-nav-btn {
        display: none;
    }

    .block-2 .slider6 {
        display: block;
        margin-top: 10px;
    }

    .slide-6 {
        width: calc(100% / 6);
        list-style: none;
        display: inline;
        float: left;
    }

    .js-slider-four {
        height: 100%;
    }

    .slide img {
        width: 302px !important;
    }

    .block-4 {
        margin: 0;
        height: 2050px;
    }

    .block-4 .offer-text {
        margin-top: 30px;
    }

    .block-4 .offer-text h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .block-4 .offer-item {
        width: 100%;
        height: 190px;
        margin: 60px 0 0 0;
        padding: 0;
    }

    .block-4 .offer-item h4 {
        font-size: 12px;
        padding: 25px 0 0 20px;
        font-weight: bold;
    }

    .block-4 .offer-item p {
        font-size: 12px;
        padding: 10px 30px 0 20px;
    }

    .block-4 .offer-item .small-text {
        font-size: 9px;
        margin-top: 1px;
    }

    .block-4 .offer-item button {
        width: 150px;
        height: 30px;
        font-size: 7px;
        font-weight: bold;
        margin: -20px 0 0 20px;
    }

    .block-4 .work-item {
        text-align: center;
        margin: 80px 0 50px 0;
        padding: 0;
        width: 300px;
    }

    .block-4 .work-item h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .block-4 .diamond-group {
        display: none;
    }

    .block-4 .diamond-group-1 {
        display: block;
        width: 100%;
    }

    .block-4 .bunch {
        display: none;
    }

    .block-4 .feedback {
        width: 100%;
    }

    .block-4 .feedback h4 {
        font-size: 18px;
        margin-top: 100px;
        text-align: center;
        font-weight: bold;
    }

    .block-4 .feedback p {
        font-size: 12px;
        margin-top: 30px;
        text-align: left;
    }

    .block-4 .feedback input {
        width: 302px;
        height: 50px;
        margin-top: 30px;
        padding-left: 20px;

    }

    .block-4 .feedback button {
        width: 302px;
        height: 60px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }

    .block-4 .question {
        text-align: center;
        margin-top: 100px;
        width: 100%;
    }

    .block-4 .question h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .block-4 .question p {
        font-size: 12px;
    }

    .block-4 .question input {
        width: 302px;
        height: 50px;
        outline: none;
        margin-top: 30px;
        padding-left: 20px;

    }

    .cont-line {
        background-color: #000;
        width: 302px;
        display: inline-block;
        height: 1px;
        vertical-align: middle;
        margin-top: 30px;
    }

    .block-4 .question {
        margin-top: 20px;
    }

    .block-4 .question button {
        width: 302px;
        height: 60px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }

    .block-5 {
        background: url('../img/Group 1123.png') no-repeat top;
        height: 450px;
    }

    .block-5 .adress {
        margin: 50px 0 0 0;
    }

    .block-5 .adress h5 {
        font-size: 24px;
        margin-bottom: 50px;
        font-weight: bold;
    }

    .block-5 .adress p {
        font-size: 12px;
        color: #B4B4B4;
        font-weight: 100;
    }

    .block-5 .map-adres {
        display: none;
    }

    .block-5 .map-yandex {
        display: block;
        margin-bottom: 50px;
        margin: 0 auto;
    }

    .modal .modal-content {
        height: 180px;
        width: 302px;
        padding: 25px 25px 0 15px;
        margin: 0 auto;
    }

    .modal .header-mod h6 {
        font-size: 9px;
        font-weight: bold;
    }

    .modal .body-tel input {
        width: 188px;
        height: 30px;
        margin-top: 5px;
    }

    input::-webkit-input-placeholder {
        font-size: 9px;
        font-family: 'GothamPro', sans-serif;
    }

    .modal .footer-btn button {
        width: 147px;
        height: 30px;
        font-size: 9px;
        font-weight: bold;
        margin-top: 10px;
    }

    .modal .footer-btn-1 button {
        width: 190px;
        height: 30px;
        font-size: 9px;
        font-weight: bold;
        outline: none;
        margin: 1px 140px 0 0;
    }

    .modal .body-phone input {
        width: 190px;
        height: 30px;
        border-radius: 6px;
        border-color: #BFBFBF;
        padding-left: 15px;
    }

    .modal .body-param input {
        width: 190px;
        height: 30px;
        margin-top: 15px;
        padding-left: 15px;
    }

    .modal .foto-btn label {
        background: transparent;
        color: #000;
        width: 190px;
        height: 30px;
        font-size: 9px;
        border-radius: 30px;
        border: 1px solid #000;
        font-weight: bold;
        margin-top: 20px;
        outline: none;
        display: block;
        padding: 8px 0 0 43px;
    }

    .modal .modal-dialog-2 {
        height: 300px;
    }
}